#chartArea {
    /* height: 80vh; */
    /* width: 80vw; */
    border: 1px solid black;
    /* padding: 5px; */
    overflow: scroll;
}
/* 
#chartArea > svg {
    border: 1px solid black;
} */

.lineAcq {
    fill: #f1ffa1;
    stroke: none;
}

.lineBorderAcq {
    fill: none;
    stroke: #778b00;
}

.pointsAcq {
    fill: #778b00;
    stroke: none;
}

.lineInst {
    fill: #ffdea1;
    stroke: none;
}

.lineBorderInst {
    fill: none;
    stroke: #8b4a00;
}

.pointsInst {
    fill: #8b4a00;
    stroke: none;
}

.nameText {
    fill: #007a8a;
    font: 6.5px Monospace;
}

.namePlate {
    fill: #e0e6e5;
}