.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#chartArea {
  /* height: 80vh; */
  /* width: 80vw; */
  border: 1px solid black;
  /* padding: 5px; */
  overflow: scroll;
}
/* 
#chartArea > svg {
  border: 1px solid black;
} */

.lineAcq {
  fill: #f1ffa1;
  stroke: none;
}

.lineBorderAcq {
  fill: none;
  stroke: #778b00;
}

.pointsAcq {
  fill: #778b00;
  stroke: none;
}

.lineInst {
  fill: #ffdea1;
  stroke: none;
}

.lineBorderInst {
  fill: none;
  stroke: #8b4a00;
}

.pointsInst {
  fill: #8b4a00;
  stroke: none;
}

.nameText {
  fill: #007a8a;
  font: 6.5px Monospace;
}

.namePlate {
  fill: #e0e6e5;
}
